@charset "utf-8";

/****************************************************************/


/****************************************************************/


/********  Designed and Coded by Fuser @ Fuser Designs  *********/


/****************************************************************/


/****************************************************************/

::-moz-selection {
	color: #FFF;
	background: #336799;
}

::selection {
	color: #FFF;
	background: #336799;
}

body {
	font-family: Lato;
	background: #2D2D2D !important;
	color: #999;
	margin: 0;
}

* {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

a,
a:active {
	color: #FFF;
	text-decoration: none;
}

a:hover {
	color: #DDD;
}

#logo {
	background: url(../images/logo.png) center center no-repeat;
	background-size: contain;
	width: 235px;
	height: 50px;
	display: block;
	float: left;
	transition: all ease 0.2s;
}

#logo:hover {
	opacity: 0.7;
}

#g2a {
	background: url(../images/g2a-methods.png) center center no-repeat;
	background-size: contain;
	width: 571.42px;
	height: 100px;
	display: block;
	float: left;
	transition: all ease 0.2s;
}

#g2a:hover {
	opacity: 0.7;
}

#sitelock {
	background: url(https://shield.sitelock.com/shield/rsjackpot.org) center center no-repeat;
	background-size: contain;
	width: 117px;
	height: 67px;
	display: block;
	float: left;
	transition: all ease 0.2s;
}

#sitelock:hover {
	opacity: 0.7;
}

.top-wrap {
	background: #336799;
	box-shadow: rgba(0, 0, 0, 0.3) 0 1px 5px;
	position: relative;
	z-index: 2;
}

.top {
	width: 90%;
	margin: 0 auto;
}

.group:after {
	content: "";
	display: table;
	clear: both;
}

#nav {
	float: right;
	list-style: none;
	margin: 0;
	padding: 0;
}

#nav li {
	display: inline-block;
	position: relative;
}

#nav a {
	font-family: 'Fira Sans Condensed', sans-serif;
	color: #FFF;
	padding: 0 20px;
	height: 50px;
	display: inline-block;
	font-size: 12px;
	line-height: 50px;
	text-transform: uppercase;
	transition: all ease 0.3s;
	vertical-align: top;
}

#nav a:hover {
	background: #234567;
}

#nav a img {
	vertical-align: top;
}

#nav-icon {
	display: none;
	background: url(../images/menu.png) center center no-repeat;
	width: 32px;
	height: 32px;
	background-size: contain;
	position: absolute;
	top: 8px;
	left: 0;
}

.profile-drop-down {
	padding: 12px 20px !important;
}

#nav li ul {
	background: #333;
	list-style: none;
	display: none;
	position: absolute;
	right: 0;
	margin: 0;
	padding: 0;
	box-shadow: rgba(0, 0, 0, 0.5) 0 2px 10px;
}

#nav li ul li a {
	width: 150px;
}

#nav li:hover>ul {
	display: block;
}

#nav li:hover>a {
	background: #234567;
}

#nav li span {
	display: inline-block;
	color: #FFF;
	padding: 5px 10px;
	font-size: 11px;
	font-family: 'Fira Sans Condensed', sans-serif;
	width: 150px;
	background: #234567;
}

.user-details-wrap {
	width: 90%;
	margin: 0 auto;
	position: relative;
}

.user-details {
	font-family: 'Fira Sans Condensed', sans-serif;
	color: #FFF;
	background: #336799;
	position: absolute;
	right: 0;
	padding: 10px 10px 5px 10px;
	z-index: 1;
	box-shadow: rgba(0, 0, 0, 0.3) 0 1px 5px;
	border-radius: 0 0 5px 5px;
	transition: all ease 0.3s;
	top: -5px;
}

.user-details:hover {
	top: 0px;
}

.user-details a {
	display: inline-block;
	color: #FFF;
	font-family: 'Fira Sans Condensed', sans-serif;
	text-transform: uppercase;
}

.content-wrap {
	width: 90%;
	margin: 30px auto 70px auto;
}

.product-wrap {
	margin: 0 -10px 0 -10px;
}

.product {
	width: 33.33%;
	padding: 0 10px;
	float: left;
	margin-bottom: 20px;
}

.product .content {
	background: #222;
	min-height: 100px;
	box-shadow: rgba(0, 0, 0, 0.3) 0 1px 5px;
	overflow: hidden;
	position: relative;
	border-radius: 10px;
	min-height:217px;
}

.red {
	border-bottom: #FF0004 solid 3px !important;
}

.lightgray {
	border-bottom: #CFCFCF solid 3px !important;
}

.lightblue {
	border-bottom: #96BCFF solid 3px !important;
}

.green {
	border-bottom: #538B00 solid 3px !important;
}

.gold {
	border-bottom: #FFD700 solid 3px !important;
}

.blue {
	border-bottom: #214FFF solid 3px !important;
}

.white {
	border-bottom: #FFFFFF solid 3px !important;
}

.orange {
	border-bottom: #FFA500 solid 3px !important;
}

.product .title {
	font-family: 'Fira Sans Condensed', sans-serif;
	font-weight: 300;
	color: #FFF;
	padding: 20px;
	font-size: 22px;
	float: left;
	width: 178px;
}

.product .price {
	font-family: Lato;
	background: #336799;
	float: right;
	padding: 7px 10px;
	color: #FFF;
	margin-top: 17px;
	box-shadow: rgba(0, 0, 0, 0.3) 0 2px 3px;
	width: 75px;
	display: inline-block;
	position: absolute;
	right: 0;
	border-radius: 5px 0 0 5px;
	transition: all ease 0.3s;
}

.product .price::after {
	content: "Buy Now";
	position: absolute;
	top: 0;
	left: 0;
	padding: 7px 10px;
	width: 100px;
	background: #336799;
	opacity: 0;
	border-radius: 5px 0 0 5px;
	text-transform: uppercase;
	transition: all ease 0.3s;
}

.product .price:hover {
	width: 95px;
}

.product .price:hover::after {
	opacity: 1;
}

.product .desc {
	padding: 5px 20px;
	font-size: 14px;
	clear: both;
	color: #777;
}

.items-slider {
	margin-top: 20px;
}

.blue-c {
	border: solid 2px rgba(0, 76, 255, 0.5);
}

.purple-c {
	border: solid 2px rgba(105, 0, 255, 0.5);
}

.pink-c {
	border: solid 2px rgba(255, 0, 190, 0.5);
}

.red-c {
	border: solid 2px rgba(255, 0, 4, 0.5);
}

.green-c {
	border: solid 2px rgba(9, 231, 0, 0.5);
}

.gold-c {
	border: solid 2px rgba(255, 215, 0, 0.5);
}

.product-item.green-c {
	box-shadow: rgba(9, 231, 0, 0.5) 0 0 20px;
}

.product-item.red-c {
	box-shadow: rgba(255, 0, 4, 0.6) 0 0 20px;
}

.footer-wrap {
	background: #222;
	min-height: 100px;
	border-top: solid 3px #336799;
}

.footer-apparatus {
	background: #2D2D2D;
	width: 95%;
	margin: -3px auto 0 auto;
	height: 30px;
	border-bottom: solid 3px #336799;
	border-left: solid 3px #336799;
	border-right: solid 3px #336799;
}

.footer-content {
	width: 90%;
	margin: 0 auto;
	padding: 20px 0;
}

.footer-content .links {
	float: left;
}

.footer-content .links a {
	font-size: 12px;
	color: #FFF;
	transition: all ease 0.3s;
}

.footer-content .links a:hover {
	color: #336799;
}

.footer-content .links ul {
	display: inline-block;
	vertical-align: top;
	list-style: none;
	padding: 10px 10px 0 0;
	margin: 0 10px 0 0;
	border-right: solid 1px #333;
}

.footer-content .links ul li {
	padding: 5px 10px;
}

.footer-content .social {
	float: right;
}

.footer-content .social a {
	display: inline-block;
	margin-left: 5px;
	opacity: 0.5;
	transition: all ease 0.3s;
}

.footer-content .social a:hover {
	opacity: 1;
}

.footer-content .copyright {
	clear: both;
	padding: 50px 0 10px 0;
	text-align: center;
	color: #666;
	font-size: 14px;
}

.page-title {
	font-family: Lato;
	font-size: 32px;
	color: #777;
	font-weight: 300;
	text-transform: uppercase;
	padding: 10px;
	border-bottom: solid 2px #FFF;
	text-align: center;
	margin: 0 auto;
}

.main-content {
	background: #222;
	box-shadow: rgba(0, 0, 0, 0.3) 0 1px 5px;
	padding: 30px;
	position: relative;
}

.form-wrap {
	text-align: center;
}

input[type="file"] {
	margin-bottom: 30px;
}

input[type="text"],
input[type="password"],
input[type="email"],
textarea {
	background: #151515;
	color: #FFF;
	font-family: "Lato", Sans-serif;
	padding: 10px 15px;
	border: solid #333 1px;
	margin: 5px auto 20px auto;
	width: 220px;
	display: inline-block;
	outline: none;
	transition: all ease 0.3s;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
textarea:focus {
	border: solid #336799 1px;
}

input[type="number"] {
	background: #151515;
	color: #FFF;
	padding: 10px 15px;
	border: solid #333 1px;
	margin: 5px auto 20px auto;
	display: inline-block;
	outline: none;
	transition: all ease 0.3s;
}

input[type="number"]:focus {
	border: solid #336799 1px;
}

textarea {
	width: 100%;
}

.submit {
	display: inline-block;
	padding: 10px 15px;
	background: #333;
	text-transform: uppercase;
	color: #999;
	border: none;
	margin: 5px auto;
	outline: none;
	width: 220px;
	cursor: pointer;
	transition: all ease 0.3s;
}

.submit:hover {
	color: #FFF;
	background: #336799;
}

label {
	width: 220px;
	margin: 0 auto;
}

form[name="login"] {
	text-align: center;
}

.form-desc {
	width: 220px;
	text-align: right;
	margin: -20px auto 20px auto;
}

.form-desc a {
	font-size: 10px;
	color: #FFF;
}

.acidjs-rating-stars {
	margin-bottom: 30px;
}

.acidjs-rating-stars,
.acidjs-rating-stars label::before {
	display: inline-block;
}

.acidjs-rating-stars label:hover,
.acidjs-rating-stars label:hover~label {
	color: #336799;
}

.acidjs-rating-stars * {
	margin: 0;
	padding: 0;
}

.acidjs-rating-stars input {
	display: none;
}

.acidjs-rating-stars {
	unicode-bidi: bidi-override;
	direction: rtl;
}

.acidjs-rating-stars label {
	color: #ccc;
}

.acidjs-rating-stars label::before {
	content: "\2605";
	width: 28px;
	line-height: 28px;
	text-align: center;
	font-size: 28px;
	cursor: pointer;
}

.acidjs-rating-stars input:checked~label {
	color: #336799;
}

.acidjs-rating-disabled {
	opacity: .50;
	-webkit-pointer-events: none;
	-moz-pointer-events: none;
	pointer-events: none;
}

.g-recaptcha {
	width: 304px;
	margin: 5px auto 20px auto;
}

.error {
	background: #C30003 url(../images/error.png) 20px center no-repeat;
	padding: 20px 80px;
	box-shadow: rgba(0, 0, 0, 0.3) 0 1px 5px;
	color: #FFF;
	margin-bottom: 30px;
}

.message {
	background: #00B514;
	padding: 20px 80px;
	box-shadow: rgba(0, 0, 0, 0.3) 0 1px 5px;
	color: #FFF;
	margin-bottom: 30px;
}

.hidden {
	display: none;
}

.stamp-07 {
	font-family: 'Oswald', sans-serif;
	background: #777;
	color: #FFF;
	padding: 3px 7px;
	position: absolute;
	bottom: 0px;
	right: 0;
	border-radius: 7px 0 8px 0;
}

.stamp-rs3 {
	font-family: 'Oswald', sans-serif;
	background: #FF8D00;
	color: #FFF;
	padding: 3px 7px;
	position: absolute;
	bottom: 0px;
	right: 0;
	text-transform: uppercase;
	border-radius: 7px 0 8px 0;
}

.product-stamp-07 {
	font-family: 'Oswald', sans-serif;
	font-size: 22px;
	background: #777;
	color: #FFF;
	padding: 3px 7px;
	position: absolute;
	top: 0px;
	right: 0;
	border-radius: 0 0 0 7px;
}

.product-stamp-rs3 {
	font-family: 'Oswald', sans-serif;
	text-transform: uppercase;
	font-size: 22px;
	background: #FF8D00;
	color: #FFF;
	padding: 3px 7px;
	position: absolute;
	top: 0px;
	right: 0;
	border-radius: 0 0 0 7px;
}

.product-stamp-price {
	font-family: 'Oswald', sans-serif;
	font-size: 22px;
	background: #336799;
	color: #FFF;
	padding: 3px 7px;
	position: absolute;
	top: 0px;
	left: 0;
	border-radius: 0 0 7px 0;
}

.product-stamp-price-sale {
	font-family: 'Oswald', sans-serif;
	font-size: 26px;
	background: #BC171A;
	color: #FFF;
	padding: 3px 7px;
	position: absolute;
	top: 0px;
	left: 85px;
	border-radius: 0 0 7px 7px;
}

.strike {
	background: rgba(255, 255, 255, 0.8);
	width: 75px;
	height: 2px;
	transform: rotate(30deg);
	position: absolute;
	top: 17px;
	left: -5px;
}

.items-display {
	margin-top: 20px;
}

.product-item-wrap {
	display: inline-block;
	width: 25%;
	padding: 0 10px;
	margin-bottom: 20px;
}

.product-item {
	color: #FFF;
	background: #181818;
	font-size: 12px;
	box-shadow: rgba(0, 0, 0, 0.7) 0 2px 5px;
	text-shadow: rgba(0, 0, 0, 0.7) 0 1px 1px;
	border-radius: 5px;
	white-space: nowrap;
}

.product-item .img {
	background: rgba(0, 0, 0, 0.3);
	width: 48px;
	height: 48px;
	padding: 10px;
	margin-right: 10px;
	display: inline-block;
	vertical-align: middle;
}

.mini-title {
	font-size: 20px;
	text-transform: uppercase;
	color: #FFF;
	text-align: center;
}

.product-buy-now {
	text-align: center;
	margin-top: 30px;
}

.button {
	font-family: "Oswald";
	display: inline-block;
	padding: 10px 15px;
	background: #336799;
	border: 0;
	outline: 0;
	color: #FFF;
	text-transform: uppercase;
	font-size: 22px;
	cursor: pointer;
	border-radius: 7px;
	margin: 5px;
	transition: all ease 0.3s;
}

.button:hover {
	background: #333;
}

.closed-case-wrap {
	display: inline-block;
	width: 50%;
	padding: 10px;
}

.closed-case {
	background: #131313;
	color: #FFF;
	font-family: "Fira Sans Condensed", sans-serif;
	font-size: 32px;
	font-weight: 300;
	margin-bottom: 20px;
	padding: 20px;
	border-radius: 7px;
	box-shadow: rgba(0, 0, 0, 0.7) 0 2px 5px;
}

.closed-case div {
	padding: 10px 20px;
}

.open-case-button {
	float: right;
	font-family: "Oswald";
	display: inline-block;
	padding: 10px 15px;
	background: rgba(0, 0, 0, 0.4);
	border: 0;
	outline: 0;
	color: #FFF;
	text-transform: uppercase;
	font-size: 25px;
	border-radius: 5px;
	cursor: pointer;
	transition: all ease 0.3s;
}

.open-case-button:hover {
	background: rgba(0, 0, 0, 0.8);
}

.no-opened-cases {
	background: rgba(0, 0, 0, 0.2);
	text-align: center;
	padding: 20px;
	border-radius: 10px;
	margin-top: 10px;
}

.opened-cases {
	border-collapse: collapse;
	width: 100%;
	margin-top: 10px;
}

.opened-cases tr {
	background: rgba(0, 0, 0, 0.2);
	transition: all ease 0.2s;
}

.opened-cases tr:hover {
	background: rgba(0, 0, 0, 0.5);
}

.opened-cases tr td:last-child {
	text-align: center;
}

.opened-cases td {
	padding: 10px 20px;
	border: 1px solid #252525;
}

.opened-cases th {
	text-align: left;
	padding: 10px 20px;
	background: rgba(0, 0, 0, 0.3);
	border: 1px solid #252525;
}

.claim-item {
	font-family: "Oswald";
	display: inline-block;
	padding: 5px 10px;
	background: #336799;
	border: 0;
	outline: 0;
	color: #FFF;
	text-transform: uppercase;
	font-size: 16px;
	cursor: pointer;
	transition: all ease 0.3s;
}

.claim-item:hover {
	background: #333;
}

.htw {
	text-align: center;
}

.htw-box {
	vertical-align: top;
	width: 33%;
	padding: 0 10px;
	display: inline-block;
	margin: 0 0 30px 0;
}

.htw-box .content {
	background: #1A1A1A;
	box-shadow: rgba(0, 0, 0, 0.3) 0 1px 5px;
	padding: 10px;
	position: relative;
}

.htw-box .content h1 {
	font-family: "Raleway", sans-serif;
	font-weight: 300;
	margin: 0px;
}

.htw-box .content .step {
	background: #336799;
	width: 50px;
	height: 50px;
	border-radius: 26px;
	position: absolute;
	left: -30px;
	top: -20px;
	text-align: center;
	color: #FFF;
	font-size: 28px;
	font-family: "Raleway", sans-serif;
	line-height: 50px;
}

.htw-box .content img {
	margin: 30px 0 20px 0;
	border-radius: 76px;
	box-shadow: rgba(0, 0, 0, 0.4) 0 2px 5px;
}

.htw-box-large {
	width: 100%;
	padding: 0 10px;
	display: inline-block;
	margin: 0 0 30px 0;
}

.htw-box-large .content {
	background: #1A1A1A;
	box-shadow: rgba(0, 0, 0, 0.3) 0 1px 5px;
	padding: 10px;
	position: relative;
}

.htw-box-large .content h1 {
	font-family: "Raleway", sans-serif;
	font-weight: 300;
	margin: 0px;
}

.htw-box-large .content .step {
	background: #336799;
	width: 50px;
	height: 50px;
	border-radius: 26px;
	position: absolute;
	left: -30px;
	top: -20px;
	text-align: center;
	color: #FFF;
	font-size: 28px;
	font-family: "Raleway", sans-serif;
	line-height: 50px;
}

.htw-box-large .content img {
	margin: 30px 0 20px 0;
	border-radius: 26px;
	box-shadow: rgba(0, 0, 0, 0.4) 0 2px 5px;
}

.type-nav {
	margin-bottom: 20px;
	text-align: center;
}

.type-nav a {
	margin: 0 10px;
	display: inline-block;
	background: #336799;
	padding: 6px 20px;
	border-radius: 30px;
	font-size: 20px;
	color: #FFF;
	font-family: "Oswald", sans-serif;
	text-transform: uppercase;
	transition: all ease 0.2s;
}

.type-nav a:hover {
	background: #222;
}

.announcement {
	text-shadow: rgba(0, 0, 0, 0.5) 0 1px 1px;
	padding: 20px 20px 20px 75px;
	margin-bottom: 30px;
	color: #FFF;
	background: #336799 url(../images/announcement.png) 20px center no-repeat;
	box-shadow: rgba(0, 0, 0, 0.3) 0 1px 5px;
}

.announcement h1,
.announcement h2,
.announcement h3 {
	margin: 0;
}

.announcement a {
	color: #aaa;
	text-decoration: underline;
}

.announcement a:hover {
	color: #FFF;
}

.featured-box-wrap {
	display: inline-block;
	width: 50%;
	padding: 10px;
	vertical-align: top;
}

.featured-box {
	color: #FFF;
	background: #222;
	box-shadow: rgba(0, 0, 0, 0.3) 0 1px 5px;
	position: relative;
	margin-bottom: 30px;
	border-radius: 10px;
}

.featured-box .tag {
	font-family: Satisfy;
	font-size: 20px;
	background: #336799;
	display: inline-block;
	position: absolute;
	top: 5px;
	left: -15px;
	padding: 5px 10px;
	box-shadow: rgba(0, 0, 0, 0.5) 0 1px 4px;
	border-radius: 5px;
	transform: rotate(-30deg);
}

.featured-box .content {
	padding: 35px 25px 25px 55px;
}

.featured-box .content .title {
	display: inline-block;
	font-family: Fira Sans Condensed;
	font-size: 24px;
	vertical-align: middle;
	line-height: 52px;
}

.featured-box .price-wrap {
	position: relative;
	line-height: 36px;
	display: inline-block;
	vertical-align: middle;
	margin-left: 20px;
}

.featured-box span {
	background: #BC171A;
	color: #fff;
	font-size: 18px;
	text-decoration: none;
	padding: 7px 10px;
	border-radius: 0 5px 5px 0;
}

.featured-box span:before {
	content: "";
	float: left;
	width: 0;
	height: 0;
	border-top: 18px solid transparent;
	border-right: 15px solid #BC171A;
	border-bottom: 18px solid transparent;
}

.featured-box span:after {
	content: "";
	position: absolute;
	top: 15px;
	left: 11px;
	width: 8px;
	height: 8px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	background: #222;
	-moz-box-shadow: -1px -1px 1px #000;
	-webkit-box-shadow: -1px -1px 1px #000;
	box-shadow: -1px -1px 1px #000;
}

.featured-box .button {
	float: right;
}

.flash-sale-wrap {
	margin-bottom: 30px;
	padding: 10px;
}

.flash-sale-wrap .button {
	vertical-align: middle;
}

.flash-sale-wrap .button:hover {
	background: #234567;
}

.flash-sale-wrap .title {
	background: #336799;
	border-radius: 5px;
	font-family: Satisfy;
	font-size: 32px;
	color: #FFF;
	text-align: center;
	padding: 5px 10px;
	width: 170px;
	margin: 0 auto;
	position: relative;
	box-shadow: rgba(0, 0, 0, 0.5) 0 1px 4px;
	z-index: -1;
}

.flash-sale-wrap .content {
	color: #FFF;
	background: #333;
	box-shadow: rgba(0, 0, 0, 0.3) 0 1px 5px;
	margin-top: -7px;
	padding: 30px;
	position: relative;
	text-align: center;
}

.flash-sale-wrap .discount {
	color: #FFF;
	font-size: 43px;
	background: #336799;
	padding: 15px;
	display: inline-block;
	vertical-align: middle;
	border-radius: 10px;
}

.flash-sale-wrap .discount span {
	font-size: 16px;
	display: block;
	text-align: justify;
}

.flash-sale-wrap .discount span:after {
	content: "";
	display: inline-block;
	width: 100%;
}

.flash-sale-wrap .case {
	display: inline-block;
	color: #FFF;
	background: #222;
	box-shadow: rgba(0, 0, 0, 0.3) 0 1px 5px;
	position: relative;
	vertical-align: middle;
	padding: 20px;
	line-height: 57px;
	font-size: 32px;
	font-family: Fira Sans Condensed;
	margin: 15px;
	border-radius: 10px;
	max-width: 580px;
}

.flash-sale-wrap .price-wrap {
	position: relative;
	line-height: 48px;
	display: inline-block;
	vertical-align: middle;
	margin-left: 20px;
}

.flash-sale-wrap .price-wrap span {
	font-family: Lato;
	background: #BC171A;
	color: #fff;
	font-size: 28px;
	text-decoration: none;
	padding: 7px 10px;
	border-radius: 0 5px 5px 0;
}

.flash-sale-wrap .price-wrap span:before {
	content: "";
	float: left;
	width: 0;
	height: 0;
	border-top: 24px solid transparent;
	border-right: 20px solid #BC171A;
	border-bottom: 24px solid transparent;
}

.flash-sale-wrap .price-wrap span:after {
	content: "";
	position: absolute;
	top: 22px;
	left: 14px;
	width: 8px;
	height: 8px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	background: #222;
	-moz-box-shadow: -1px -1px 1px #000;
	-webkit-box-shadow: -1px -1px 1px #000;
	box-shadow: -1px -1px 1px #000;
}

.flash-sale-wrap .price-wrap-old {
	position: relative;
	line-height: 33px;
	display: inline-block;
	vertical-align: middle;
	margin-left: 20px;
}

.flash-sale-wrap .price-wrap-old span {
	font-family: Lato;
	background: #6C6C6C;
	color: #fff;
	font-size: 15px;
	text-decoration: none;
	padding: 7px 10px;
	border-radius: 0 5px 5px 0;
	vertical-align: top;
}

.flash-sale-wrap .price-wrap-old span:before {
	content: "";
	float: left;
	width: 0;
	height: 0;
	border-top: 16px solid transparent;
	border-right: 15px solid #6C6C6C;
	border-bottom: 16px solid transparent;
}

.flash-sale-wrap .price-wrap-old span:after {
	content: "";
	position: absolute;
	top: 14px;
	left: 11px;
	width: 6px;
	height: 6px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	background: #222;
	-moz-box-shadow: -1px -1px 1px #000;
	-webkit-box-shadow: -1px -1px 1px #000;
	box-shadow: -1px -1px 1px #000;
}

.flash-sale-wrap .price-wrap-old .strike {
	background: rgba(255, 255, 255, 0.4);
	width: 85px;
	height: 2px;
	transform: rotate(24deg);
	position: absolute;
	top: 14px;
}

.countdown-wrap {
	display: inline-block;
	vertical-align: middle;
	margin: 0 30px;
}

.countdown {
	font-size: 52px;
	display: inline-block;
	position: relative;
}

.countdown div {
	display: inline-block;
}

.countdown span {
	display: block;
	font-size: 11px;
	text-align: center;
	text-transform: uppercase;
}

.tabs a {
	font-family: Oswald;
	display: inline-block;
	padding: 7px 15px;
	margin-right: 5px;
	color: #EEE;
	font-size: 18px;
	text-transform: uppercase;
}

.tabs a:hover {
	background: #303030;
}

.tabs a.active,
.tabs a.active:hover {
	background: #353535;
}

.tabilicious {
	background: #353535;
	box-shadow: rgba(0, 0, 0, 0.1) 0 1px 5px;
	padding: 20px 7px;
}

.coin-fix {
	padding-bottom: 20px !important;
}

.the-last-ride {
	margin-top: 30px;
}

.bigwins-wrap,
.feedbacks-wrap {
	margin-bottom: 30px;
}

.bigwins {
	padding: 20px;
	background: #353535;
	box-shadow: rgba(0, 0, 0, 0.1) 0 1px 5px;
}

.feedbacks {
	padding: 20px;
	background: #353535;
	box-shadow: rgba(0, 0, 0, 0.1) 0 1px 5px;
}

.bigwins .title,
.feedbacks .title {
	font-family: Oswald;
	font-size: 18px;
	text-transform: uppercase;
	color: #EEE;
	margin-bottom: 15px;
}

.bigwins .item-won {
	position: relative;
	background: #222;
	display: inline-block;
	vertical-align: middle;
	width: 90px;
	height: 90px;
	padding: 30px;
	text-align: center;
	border-radius: 45px;
	margin-right: 15px;
}

.bigwins .item-won span {
	display: inline-block;
	left: 0;
	right: 0;
	bottom: 0;
	position: absolute;
	background: rgba(0, 0, 0, 0.8);
	border-radius: 14px;
	padding: 3px;
	font-size: 12px;
}

.bigwins .claimer {
	padding: 20px;
	display: inline-block;
	vertical-align: middle;
	min-width: 100px;
}

.bigwins .case {
	background: #222;
	border-radius: 10px;
	box-shadow: rgba(0, 0, 0, 0.3) 0 1px 5px;
	padding: 25px;
	display: inline-block;
	vertical-align: middle;
	position: relative;
	float: right;
}

.bigwins .claimer span,
.bigwins .case span {
	font-size: 11px;
	color: #a0a0a0;
	font-style: italic;
}

.bigwins .case span.stamp-07,
.bigwins .case span.stamp-rs3 {
	color: #FFF !important;
}

.feedbacks .feedback-text {
	font-style: italic;
	font-weight: 300;
	font-size: 24px;
	margin-bottom: 15px;
}

.feedbacks span {
	font-size: 13px;
	color: #a0a0a0;
}

.buynow-terms {
	font-size: 12px;
	margin-top: 30px;color: #fff;
}

p.inline {
	display: inline;
}

.product-guide {
	margin: 10px 0 20px 0;
	text-align: center;
	font-size: 14px;
}

.vip-perks {
	list-style: none;
	margin: 0;
	padding: 0;
}

.vip-perks li {
	padding: 10px;
	font-size: 18px;
	vertical-align: middle;
	text-align: center;
}

.vip-perks li::before {
	content: "🗸";
	display: inline-block;
	vertical-align: middle;
	font-size: 26px;
	margin-right: 20px;
}

.vip-price {
	font-family: Lato;
	background: #BC171A;
	border-radius: 7px;
	padding: 10px 17px;
	margin: 30px auto;
	color: #FFF;
	font-size: 36px;
	display: inline-block;
}

.vip-price span {
	text-transform: uppercase;
	font-size: 11px;
	display: block;
	text-align: center;
}

.vip-label {
	background: #222 url(../images/vip.png) no-repeat center center;
	background-size: 60px;
	width: 90px;
	height: 40px;
	float: left;
	margin: 5px 0 5px 10px;
	border-radius: 20px;
	box-shadow: rgba(0, 0, 0, 0.4) 0 2px 3px;
}

.button.crypt {
	background: #005aff;
	border-radius: 0 7px 7px 0 !important;
	vertical-align: top;
}

.button.g2a {
	background: #F05F00;
}

.coinselect {
	font-family: Oswald;
	text-transform: uppercase;
	background: #151515;
	color: #CCC;
	border: 0;
	margin: 5px -5px 5px 5px;
	border-radius: 7px 0 0 7px;
	padding: 10px 15px;
	height: 52px;
	vertical-align: top;
}

.freecases {
	margin-bottom: 30px;
	padding: 20px;
	text-align: center;
	background: #1b1b1b;
	margin-top: 10px;
	border-radius: 10px;
}

.timeleft {
	font-weight: 300;
	font-size: 24px;
}

.timeleft span {
	font-weight: 300;
	font-size: 12px;
	text-transform: uppercase;
}

.livefeed-super-wrap {
	background: #353535;
	border-radius: 10px;
	margin-bottom: 20px;
	box-shadow: rgba(0, 0, 0, 0.2) 0 2px 5px;
	overflow: hidden;
}

.livefeed-super-wrap .stats {
	display: inline-block;
	vertical-align: top;
	padding: 49px 20px;
	background: #222222;
	text-align: center;
	text-transform: uppercase;
	font-size: 14px;
	box-shadow: rgba(0, 0, 0, 0.2) 2px 0 5px;
	width: 20%;
	/*height: 165px;*/
	position: relative;
	z-index: 2;
}

.stats span {
	font-size: 42px;
	font-weight: 300;
	color: #FFF;
}

.livefeed-wrap {
	display: inline-block;
	width: 80%;
}

.livefeed-wrap .title {
	padding: 5px 10px;
	background: rgba(51, 103, 153, 0.42);
	display: block;
	text-transform: uppercase;
	font-size: 14px;
	font-family: Oswald;
	color: #FFF;
	box-shadow: rgba(0, 0, 0, 0.3) 0 1px 5px;
}

.livefeed-wrap .title .itemtype {
	text-decoration: none;
	display: inline-block;
	padding: 3px 7px;
	font-size: 12px;
	text-transform: uppercase;
	color: #FFFFFF;
	cursor: pointer;
	background: #344a5f;
	font-family: Lato;
	vertical-align: top;
	border-radius: 5px;
	margin: 0 10px;
	transition: all ease 0.3s;
}

.livefeed-wrap .title .itemtype.selected {
	background: #222222 !important;
}

.livefeed-wrap .title .itemtype:hover {
	background: #222222;
}

.livefeed {
	overflow-x: scroll;
	margin: 0 0 0 0;
	white-space: nowrap;
}

.livefeed::-webkit-scrollbar {
	height: 8px;
}

.livefeed::-webkit-scrollbar-track {
	background: #666666;
	border-radius: 10px;
	margin: 0 10px;
}

.livefeed::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background: #222222;
}

.livefeed::-webkit-scrollbar-thumb:hover {
	border-radius: 10px;
	background: #151515;
}

.livefeed .item {
	display: inline-block;
	padding: 10px 20px;
	margin: 10px;
	height: 96px;
	background: #222222;
	border-radius: 10px;
	box-shadow: rgba(0, 0, 0, 0.2) 0 2px 3px;
	vertical-align: middle;
}

.livefeed .item .image {
	display: inline-block;
	vertical-align: middle;
	padding: 10px;
	background: #344a5f;
	border-radius: 50px;
	width: 53px;
	height: 53px;
	text-align: center;
	line-height: 53px;
}

.livefeed .item .details {
	display: inline-block;
	vertical-align: middle;
	height: 100%;
	margin-left: 15px;
}

.livefeed .item .details .itemname {
	background: #000;
	padding: 5px 10px;
	font-size: 10px;
	text-transform: uppercase;
	border-radius: 10px;
	color: #FFF;
}

.livefeed .item .details .userdetails {
	font-style: italic;
	font-size: 9px;
	text-transform: uppercase;
	padding: 10px;
}

.userdetails span {
	text-transform: none;
	font-style: normal;
	font-size: 14px;
}

.userdetails span.vip {
	color: #FFF;
	display: inline-block;
	padding: 3px 7px;
	background: #927a20;
	border-radius: 5px;
	margin-top: 3px;
}

.userdetails span.vip::before {
	content: 'VIP';
	font-size: 8px;
	color: #000000;
	background: #d0ad2c;
	padding: 0 3px;
	line-height: 23px;
	margin: -3px 5px -3px -7px;
	display: inline-block;
	vertical-align: top;
	border-radius: 5px 0 0 5px;
}

.fc-item-display {
	white-space: nowrap;
	overflow-x: scroll;
	margin-bottom: 30px;
}

.fc-item-display::-webkit-scrollbar {
	height: 8px;
}

.fc-item-display::-webkit-scrollbar-track {
	background: #555555;
	border-radius: 10px;
	margin: 0 10px;
}

.fc-item-display::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background: #151515;
}

.fc-item-display::-webkit-scrollbar-thumb:hover {
	border-radius: 10px;
	background: #000000;
}

.fc-conditions {
	display: block;
	margin: 10px auto;
	width: 500px;
}

.fc-conditions li {
	padding: 10px 0;
}


/**** 26 sep changes ****/

.addToCart {
	font-family: Lato;
	background: #336799;
	float: none;
	padding: 7px 10px;
	color: #FFF;
	margin-top: 17px;
	box-shadow: rgba(0, 0, 0, 0.3) 0 2px 3px;
	width: auto;
	display: inline-block;
	border-radius: 5px;
	transition: all ease 0.3s;
	text-align: center;
	margin-right: 0;
}

.addToCart:hover,
.addToCart:focus {
	background: #333;
}

.items-display table {
	background: #fff !important;
}

.items-display table th {
	padding: 13px !important;
	text-align: left;
	font-size: 15px;
	font-weight: bold;
}

.items-display table td {
	padding: 13px !important;
	text-align: left;
	font-size: 15px;
}

.items-display table {
	font-family: Lato;
	font-weight: 400;
}

.total td:first-child {
	font-weight: bold;
}

span.couponError {
	color: red;
	position: absolute;
	bottom: -5px;
	left: 0;
	font-size: 14px;
}

.inpt-sctn {
	position: relative;
	display: inline-block;
}

.coupon label {
	margin-right: 20px;
	width: auto;
}

.inpt-sctn input[type="text"] {
	width: 280px;
}

.buyCartItems .product-item {
    padding: 0 10px 0px 0 !important;
}
/**** 12 October Changes****/

.averageSum,
.totalAverageSum {
	border: 5px solid #fff;
	color: #fff;
	font-size: 14px;
	display: inline-block;
	width: auto;
	vertical-align: middle;
	padding: 4px 10px;
	text-align: left;
	max-width: 300px;
}

.averageSum {
	margin-left: 20px;
	margin-right: 90px;
}

.averageSum span,
.totalAverageSum span {
	display: block;
	line-height: 21px;
}

.buyCartItems .product-item {
	padding: 14px 10px;
	white-space: normal;
}

.buyCartItems .product-item .img img {
   width: 100%!important;
    height: 30px !important;
    vertical-align: middle;
    padding: 3px 0;
}

.buyCartItems .product-item .img {
	text-align: center;
}

.buyCartItems .product-item-cnt {
	color: #fff;
	font-size: 14px;
	display: inline-block;
	width: 83%;
	vertical-align: middle;
}

.buyCartItems .product-item-cnt .itm {
	width: 100px;
	display: inline-block;
	vertical-align: middle;
}

.buyCartItems .product-item-cnt .gp-odd-val span {
	width: 100%;
	display: block;
	line-height: 24px;
}

.buyCartItems .product-item-cnt .gp-odd-val {
	display: inline-block;
	vertical-align: middle;
	width: 126px;
}

.buyCartItems .product-item-cnt .totalCal {
	display: inline-block;
	width: 80px;
}

.buyCartItems.product-item-wrap {
	padding: 0;
	margin-right: 15px;
}

@media (max-width:1499px) {
	.product-item-wrap {
		width: 33%;
	}

	.buyCartItems .product-item {
		padding: 10px;
	}

	.buyCartItems .product-item-cnt .totalCal {
		width: 71px;
	}

	.buyCartItems .product-item-cnt .itm {
		width: 82px;
	}

	.buyCartItems .product-item-cnt .gp-odd-val {
		width: 129px;
	}

	.averageSum,
	.totalAverageSum {
		padding: 10px;
		border: 3px solid #fff;
	}

	.averageSum {
		margin-right: 40px;
	}
}

@media (max-width:1200px) {
	.buyCartItems .product-item-cnt .gp-odd-val {
		width: 100px;
	}

	.buyCartItems .product-item-cnt {
		width: 81%;
	}
}


/********  Responsive Styles  *********/

@media (min-width: 1000px) {
	#nav {
		display: block !important;
	}
}

@media (max-width: 1295px) {
	.flash-sale-wrap .button {
		margin: 20px;
	}
}

@media (max-width: 1160px) {
	.countdown-wrap {
		margin: 30px;
	}
}

@media (max-width: 1000px) {
	#nav {
		float: none;
		display: none;
	}

	#nav li,
	#nav li a {
		display: block;
	}

	#nav li ul,
	#nav li ul span,
	#nav li ul li a {
		width: 100%;
	}

	#logo {
		width: 79%;
		float: none;
		margin-left: 70px;
	}

	.top {
		text-align: center;
	}

	#nav-icon {
		display: inline-block;
	}

	.product {
		width: 50%;
	}

	.product-item-wrap {
		width: 33%;
	}

	.featured-box-wrap,
	.closed-case-wrap {
		width: 100%;
	}
}

@media (max-width: 820px) {

	.flash-sale-wrap .discount,
	.flash-sale-wrap .case {
		border-radius: 10px;
		height: auto;
	}

	.flash-sale-wrap .discount {
		margin-bottom: 20px;
		border-bottom: none !important;
	}

	.flash-sale-wrap .case {
		margin: 0;
	}
}

@media (max-width: 780px) {
	.product-item-wrap {
		width: 50%;
	}

	.htw-box {
		width: 49%;
	}
}

@media (max-width: 640px) {
	#g2a {
		width: 400px;
	}

	.product {
		width: 100%;
	}

	.product-item-wrap {
		width: 100%;
	}

	.htw-box {
		width: 100%;
	}

	.vipacc div {
		float: none !important;
		margin: 10px;
	}
}

@media (max-width: 480px) {
	#g2a {
		width: 320px;
	}

	.footer-content .links ul {
		border-right: 0;
	}

	.vipacc span {
		font-size: 18px;
	}
}

@media (max-width: 410px) {
	.countdown {
		font-size: 40px;
	}

	.flash-sale-wrap .case {
		font-size: 26px;
	}

	.price-wrap-old,
	.price-wrap {
		margin: 5px;
	}
}

/* Dipak-Thakur */
svg#cart {
	width: 22px;
	height: 22px;
	line-height: 22px;
	fill: #fff;
	vertical-align: middle;
}
.items-display .items-display table tr th {
	text-align: left;
	padding: 10px 20px;
	background: rgba(0, 0, 0, 0.3);
	border: 1px solid #252525;
}
.items-display table {
	background: transparent !important;
}

.table-striped>tbody>tr th {
	text-align: left;
	padding: 10px 20px;
	background: rgba(0, 0, 0, 0.3);
	border: 1px solid #252525;
	color: #999;
}
.items-display table td {
	border: 1px solid #403f3f !important;
	color: #ddd;
}
.content-wrap table.table.table-striped.cartItems>tbody>tr:hover:nth-of-type(odd) {
	background: rgba(0, 0, 0, 0.5) !important;
}
.table-striped>tbody>tr:hover {
	background: rgba(0, 0, 0, 0.5);
}
.content-wrap table.table.table-striped.cartItems>tbody>tr:nth-of-type(odd) {
	padding: 10px 20px;
	border: 1px solid #252525;
	color: #999 !important;
	background-color: #252525 !important;
}
.items-display table td a{
	font-size: 13px;
	color: #ddd;
	text-decoration: none;
}
.items-display table td a.removeItems {
    font-family: "Oswald";
    display: inline-block;
    padding: 6px 15px;
    background: #336799;
    border: 0;
    outline: 0;
    color: #FFF;
    text-transform: uppercase;
    font-size: 13px;
    cursor: pointer;
    border-radius: 7px;
    transition: all ease 0.3s;
}
.items-display table td a.removeItems:hover{
	    background: #333;
}

/** New **/

.item img{
	width: auto;
    height: auto;
    max-width: 40px;
}

.item .image img{
	vertical-align: 6px;
	max-width: 30px;
}