@charset "utf-8";
body {
	font-family: 'Source Sans Pro', sans-serif;
	color: #FFFFFF;
	background: url(images/bg3.jpg) no-repeat center center fixed;
	background-size: cover;
	margin: 0;
	padding: 0;
}
* {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
a {
	text-decoration: none;
}
a.button {
	text-decoration: none;
}
.group:after {
	content: "";
	display: table;
	clear: both;
}
#login-logo {
	background: url(images/logo_large.png) no-repeat center center;
	height: 116px;
}
.duramater {
	display: table;
	position: absolute;
	width: 100%;
	height: 100%;
}
.arachnoidmater {
	display: table-row;
}
.piamater {
	display: table-cell;
	vertical-align: middle;
}
.login-wrap {
	color: #FFFFFF;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 400;
	font-size: 18px;
	text-align: center;
	background: rgba(255,255,255,0.15);
	padding: 30px;
	width: 560px;
	margin: 20px auto;
	border-radius: 5px;
	text-shadow: rgba(0,0,0,0.4) 0 1px 1px;
	transition: all 0.3s;
	box-shadow: rgba(0,0,0,0.1) 0 3px 0;
}
.login-wrap:hover {
	background: rgba(255,255,255,0.2);
	box-shadow: rgba(0,0,0,0.15) 0 3px 0;
}
.form-unit {
	width: 248px;
	display: inline-block;
}
input[type=text], input[type=password], select, textarea, input[type=number] {
	font-family: 'Source Sans Pro', sans-serif;
	display: inline-block;
	padding: 5px;
	border: 0;
	outline: 0;
	border-radius: 2px;
	opacity: 0.6;
	box-shadow: rgba(0,0,0,0.2) 0 2px 0;
	outline: none;
	margin: 5px 5px 5px 13px;
	transition: all 0.3s;
}
select {
	padding: 4px;
}
input[type=text]:focus, input[type=password]:focus, select:focus, textarea:focus, input[type=number]:focus {
	opacity: 1;
}
.f-button {
	font-family: 'Source Sans Pro', sans-serif;
	text-transform: uppercase;
	font-size: 18px;
	text-shadow: rgba(0,0,0,0.4) 0 1px 1px;
	color: #FFFFFF;
	padding: 10px 20px;
	display: inline-block;
	background: rgba(81,255,0,0.4);
	border-radius: 3px;
	box-shadow: rgba(0,0,0,0.2) 0 2px 0;
	outline: 0;
	border: 0;
	cursor: pointer;
	transition: all 0.3s;
}
.f-button:hover {
	background: rgba(81,255,0,0.6);
}
.f-button:active {
	transition: all 0.1s;
	background: rgba(81,255,0,0.5);
}
#top-header-wrap {
	height: 70px;
	background: rgba(255,255,255,0.2);
	box-shadow: rgba(0,0,0,0.1) 0 3px 0;
}
#logo {
	background: url(images/logo_small.png) center center no-repeat;
	background-color: transparent;
	height: 70px;
	width: 254px;
	display: block;
	float: left;
	transition: all 0.3s;
}
#logo:hover {
	background-color: rgba(255,255,255,0.1);
}
.nav-wrap {
	float: right;
	display: inline-block;
}
.nav a {
	font-family: 'Oswald', sans-serif;
	background: transparent;
	border: none;
	outline: none;
	font-size: 16px;
	color: #FFFFFF;
	display: inline-block;
	vertical-align: middle;
	height: 70px;
	line-height: 70px;
	padding: 0 30px;
	transition: all 0.3s;
	cursor: pointer;
	text-transform: uppercase;
}
.nav a:hover {
	background: rgba(255,255,255,0.1);
}
.clear {
	clear: both;
}
.title {
	font-size: 48px;
	font-weight: 300;
	text-align: center;
	margin-bottom: 10px;
}
.sub-title {
	font-size: 36px;
	font-weight: 300;
	margin: 50px auto 10px auto;
	width: 90%;
}
.main {
	margin: 30px 0 50px 0;
}
.content {
	width: 90%;
	margin: 20px auto;
}
.message {
	background: rgba(255, 255, 255, 0.15);
	width: 90%;
	padding: 15px;
	margin: 20px auto;
	border-radius: 5px;
	box-shadow: rgba(0,0,0,0.1) 0 2px 0px;
}
.touch-pad {
	text-align: center;
	width: 660px;
	margin: 0 auto;
}
.touch-pad .pad-wrap {
	padding: 10px;
	display: inline-block;
	vertical-align: top;
}
.touch-pad .pad {
	color: #FFF;
	display: block;
	width: 200px;
	background: rgba(255,255,255,0.2);
	box-shadow: rgba(0,0,0,0.1) 0 3px 0;
	border-radius: 5px;
	padding: 15px;
	cursor: pointer;
	text-shadow: rgba(0,0,0,0.4) 0 1px 1px;
	transition: all ease-out 0.3s;
}
.touch-pad .pad:hover {
	background: rgba(255,255,255,0.5);
}
.pad-wrap.full .pad {
	height: 200px;
	text-align: center;
	font-size: 28px;
	font-weight: 300;
}
.pad-wrap.two .pad {
	text-align: left;
	margin-bottom: 20px;
	height: 90px;
	line-height: 55px;
	font-size: 18px;
	font-weight: 300;
	vertical-align: middle;
}
.pad-wrap.two .pad img, .pad-wrap.three .pad img {
	vertical-align: middle;
	margin-right: 15px;
}
.pad-wrap.three .pad {
	text-align: left;
	margin-bottom: 20px;
	height: 53.33px;
	padding: 0 15px;
	line-height: 53px;
	vertical-align: middle;
}
.touch-pad .pad-wrap.two .pad:last-child, .touch-pad .pad-wrap.three .pad:last-child {
	margin-bottom: 0px !important;
}
table.orders {
	font-size: 14px;
	width: 90%;
	margin: 0 auto;
	border-collapse: collapse;
	border: none;
	background-color: rgba(255,255,255,0.15);
	border-radius: 5px;
	overflow: hidden;
	box-shadow: rgba(0,0,0,0.1) 0 3px 0;
}
.orders tr {
	transition: all 0.5s;
}
.orders tr:hover {
	transition: all 0.2s;
	background-color: rgba(255,255,255,0.1);
}
.orders th, .orders td {
	text-align: left;
	padding: 5px;
	border: rgba(255,255,255,0.1) solid 1px;
}
.orders th {
	background-color: rgba(255,255,255,0.2);
}
.button {
	font-family: 'Source Sans Pro', sans-serif;
	color: #FFF;
	display: inline-block;
	border-radius: 3px;
	box-shadow: rgba(0,0,0,0.2) 0 2px 0;
	outline: 0;
	border: 0;
	cursor: pointer;
	transition: all ease 0.3s;
	padding: 5px 15px;
	text-shadow: rgba(0,0,0,0.4) 0 1px 1px;
}
.red {
	background: rgba(255,0,4,0.5);
}
.red:hover {
	background: rgba(255,0,4,0.9);
}
.red:active {
	transition: all ease 0.1s;
	background: rgba(255,0,4,0.3);
}
.green {
	background: rgba(50,255,0,0.5);
}
.green:hover {
	background: rgba(50,255,0,0.8);
}
.green:active {
	transition: all ease 0.1s;
	background: rgba(50,255,0,0.3);
}
.top-controls {
	width: 90%;
	margin: 10px auto 10px auto;
}
.top-controls input.button {
	float: right;
	margin-left: 10px;
}
.top-controls a.button {
	float: right;
	margin-left: 10px;
	font-size:13.3333px;
	background: rgba(13, 146, 225, 0.5);
}
.top-controls a.button:hover {
	background: rgba(13, 146, 225, 0.8) !important;
}
td.not-delivered, td.delivered, td.neutral {
	text-align: center;
}
td.not-delivered {
	background: rgba(255,0,4,0.4);
}
td.delivered {
	background: rgba(50,255,0,0.4);
}
.fifty {
	width: 50%;
	display: inline-block;
	vertical-align: top;
}
.fifty .sub-title {
	width: 100%;
}
.ninety {
	width: 90%;
	margin: 0 auto;
}
table.orders td a, .styled-link {
	color: #ffffff;
    text-decoration: none;
    display: inline-block;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: rgba(0, 0, 0, 0.1) 0 1px 1px;
    padding: 3px 5px;
    border-radius: 3px;
	text-shadow: rgba(0, 0, 0, 0.3) 0 1px 1px;
}
table.orders td a:hover, .styled-link:hover {
    background: rgba(255, 255, 255, 0.3);
	text-shadow: rgba(0, 0, 0, 0.4) 0 1px 1px;
}
/******************************************************/
/******************************************************/
/******************* Pagination CSS *******************/
/******************************************************/
/******************************************************/
ul.setPaginate li.setPage {
	padding: 15px 10px;
	font-size: 14px;
}
ul.setPaginate {
	text-align: center;
	margin: 10px auto;
	padding: 0px;
	height: 100%;
	overflow: hidden;
	list-style-type: none;
}
ul.setPaginate li.dot {
	padding: 3px 10px;
}
ul.setPaginate li {
	display: inline-block;
	margin: 0px;
	padding: 0px;
	margin-left: 5px;
}
ul.setPaginate li a {
	font-family: 'Source Sans Pro', sans-serif;
	color: #FFF;
	display: inline-block;
	border-radius: 3px;
	box-shadow: rgba(0,0,0,0.2) 0 2px 0;
	outline: 0;
	border: 0;
	cursor: pointer;
	transition: all ease 0.3s;
	padding: 5px 15px;
	text-shadow: rgba(0,0,0,0.4) 0 1px 1px;
	text-decoration: none;
	background: rgba(255,255,255,0.2);
}
ul.setPaginate li a:hover,  ul.setPaginate li a.current_page {
	background: #0d92e1;
	color: #ffffff;
}
.addItem,.remove_fields{background: #fff;width:30px;height: 30px;border-radius:50%;-webkit-border-radius:50%;display: inline-block;color: #4488c7;font-weight: bold;font-size: 24px;line-height: 30px;}
.addItem:hover,.addItem:focus,.remove_fields:hover,.remove_fields:focus{opacity: 0.7;}
.form-hr {
    margin-bottom: 5px;
}.inpt-sctn p,.input_fields_wrap p {
    display: inline-block;
}
.input_fields_wrap input[type="text"] {
    margin-left: 16px;
}
.input_fields_wrap  select{margin-left: 17px;}
.input_fields_wrap input[type="file"] {
    margin-left: 3px;
}
.remove_fields{margin-left: 4px;}